*{
	box-sizing: border-box;
}
html{
	font-size: 18px;
}
body{
	background: #fff;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-family: 'PTSans', sans-serif;
}
a{text-decoration: none;}
a.dot {
	color: inherit;
	text-decoration: none;
	border-bottom: 0.1rem dashed #dddddd;
   }
a.tel_media {
	border-bottom: none;
   }   
a.popup{color: #dddddd;}

h1, h2{	
	margin-bottom: 40px; 
	font-weight: normal;
	text-align: center;
	color: #660000;
}
h1{
	font-size: 2rem; 
 }
h2{
	font-size: 1.8rem; 
	margin-top: 60px;
	/* font-weight: 600; */
 }
h3, h4{color: #660000; font-size: 1.2rem; font-weight: normal;
 }
h4{text-align: center;}
/*===== header =====*/

.header{
	padding: 0;
	width: 100%;
	height: 70px;
	background: rgba(0, 37, 54, 0.7);
	display: flex;
	position: fixed;
	right: 0; left: 0;
	justify-content: space-around;
	z-index: 99;
}

.logo a{ 
	/*padding: 5px; */
	margin: 5px 10px 0 20px;
	display: flex;
}
.header_contacts{
	margin-right: 20px;
	display: flex;
	color: #fff;
	align-items: center;
}
.nav{
	margin: 0;
	padding: 15px;
	display: flex;
	
}
.nav a{
	padding: 5px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-right: 15px;
	align-items: center;
	color: #fff;
}
.nav a:hover {
	color: #FF8401;
}
.nav_btn{
	margin: 0;
	padding: 15px;
	display: none;
	/* padding: 5px; */
	align-items: center;
	color: #fff;
	cursor: pointer;
}
 /*.nav_btn a{
  	padding: 5px;
	color: #fff;
	align-items: center;
	
  }*/
.nav_mini{
	background: #0e3a43;
	margin: 0;
	display: none;
	box-shadow: 10px 15px 19px 1px rgba(0, 0, 0, 0.5);
	padding: 15px;
	right: 0px;
	position: fixed;
	top: 60px;
	/*z-index: 999;*/;
}
.nav_mini_active{
	display: flex;
	transform: scale(1);
}
.nav_mini a{
	color: #fff;
	display: block;
	padding: 0 15px;
}
a.nav_current{
	color: #fc7a00;
}

/*======== main =========*/

/*---- header ----*/

.slider{
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
}
.slider_text{
	display: block;
	width: 80%;
	padding: 0;
	position: relative;
    left: 10%;
    line-height: 1.5;
	top: 30%;
}
.slider_text_header{
	/*align-items: center;*/
	color: #c5c5c5;
	font-size: 32px;
	text-transform: uppercase;
}
.slider_text_description{
	color: #c5c5c5;
	font-size: 22px;
	font-style: italic;
}


/*---- main ----*/

.main{
	display: flex;

	margin: 0;
	padding: 0;
	justify-content: center;
}

.main_content{
	width: 100%;
	max-width: 1124px;
	/*background-color: #f9f9f9;*/
	margin: 0;
	padding: 20px 20px 20px 20px;
}
.main_content a{
	color: #fc7356;
	border-bottom: 0.1em dashed #fc7356;
}
.image_container{
	text-align: center;
	overflow: hidden;
}
.section_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.section_sites{
	width: 30%;
    margin: 2px;
    padding: 20px 20px 20px 20px;
    display: block;
    /* justify-content: space-between; */
    border: 1px solid rgba(252, 122, 0, 0.59);
}
.section_sites:hover, .section_preference:hover, .service_box:hover, .section_wedo:hover{
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.27);
}

	
.section_work{
	margin: 60px 0 20px 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.row_cell{
	margin: 0px 0 0px 0px;
	padding-left: 0px;
	/*display: flex;*/
}
.brif_container{
	width: 100%;
	margin: 0;
	padding: 1em;
	background: #d2d2d2;
	/* background: linear-gradient(to top, #fae8c7, #fc7356); */
	display: block;
	justify-content: center;
    box-shadow: 0px 5px 9px 1px rgba(40, 40, 40, 0.35);
	border-top: 2px solid rgb(250, 250, 250);
	border-radius: 4px;
}
.brif_container_element{
	padding: 1em;
    padding-bottom: 2em;
	display: block;
	justify-content: center;
	text-align: center;
}
.preference{
	display: flex;
	justify-content: space-around;
}
.section_preference{
	width: 100%;
margin: 2px;
padding: 20px;
display: block;
border: 1px solid rgba(252, 122, 0, 0.59);
}
.wedo{
	display: flex;
	justify-content: center;
}
.section_wedo{
	width: 30%;
	margin: 2px;
	padding: 20px;
	display: block;
	border: 1px solid rgba(252, 122, 0, 0.59);
}
.run_head, .run_line{
	text-align: center;
	position: relative;
}
.run_line::before{
	content: '';
	bottom: 0;
	right: 0;
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #fc7356;
	transition: 0.2s;
}
.run_line:hover:before{
	width: 100%;
	left: 0;
}
.icon{
	text-align: center;
}
.text_help{
	display: block;
}
.text_help_hidden{
	display: block;
}
/*.section_preference:hover{
	box-shadow: 0px 0px 9px 0px #e2e2e2;
}*/
.step_header{
	width: 40%;
	padding-bottom: 20px;
}
.step_text{
	width: 80%;
}
.services{
	/* margin: 60px 0 20px 0; */
	/* padding: 20; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service_box{
	width: 400px;
	padding: 0px 30px 15px 30px;
	margin: 2px;
	border: 1px solid #fc7a00;
	/* border-radius: 4px; */
	/*display: flex;*/
}
/*.sidebar{
	width: 20%;
	background-color: #ccc;
	margin: 0;
	padding: 15px;
}*/

/*.sidebar_block{
	background-color: #fff;
	margin: 5px;
	padding: 10px;
}*/


.text{
	margin: 30px 0 30px 0;
}
.text_right{
	text-align: right; color: #660000
}
.text_price{
	color: #660000
}

.examples_container{
	margin: 0 auto;
	max-width: 1124;
    /*padding: 1em;*/
    display: block;
    justify-content: center;
}
.example_row{
	/* margin: 20px auto; */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.examlpe_element{
	position: relative;
	margin: 1px;
	width: 350px;
  height: 180px;
  overflow: hidden;

}
/*.examlpe_element:hover{
	transform: rotateY(180deg);
}*/
.examlpe_element:hover .example_desc{
	opacity: 0.8;
	box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.56); 
}
.example_img img{
	display: block;
	max-width: 100%;
}
.example_desc{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fc7a00;
	width: 100%;
	height: 100%;
	display: block;
	align-items: center;
	opacity: 0;
	transition: all 0.5s ease-out;
}
.example_desc p{
	width: 100%;
	font-size: 24px;
	text-align: center;
	color: #fff;
	/*flex-basis: 100%;*/
}
/*.example_desc a{
	color: #fff;
    border-bottom: 1px dashed #fff;
}*/
.lookme{
	color: #fff;
    border-bottom: 1px dashed #fff;
}
.lookme:after{
	content: " =>";
	width: 30px;
	height: 10px;
}
.content_block{
	margin-bottom: 2rem;
	border: 1px solid #fc7a00;
	border-radius: 4px;
}
.content_block_slave{
	border: 1px solid #d2d2d2;
}
.content_block_header{
	margin: auto;
	margin-bottom: 1rem;
	width: 98%;
	font-size: 1.5rem;
	text-align: center;
	line-height: 3rem;
	border-bottom: 1px solid #dddddd;
}
.content_block_header_slave{
	font-size: 1.2rem;
}
/*========= packages ========*/
.row_package{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.package__item{
	margin: 1rem;
	margin-bottom: 2rem;
	width: 30%;
	border: 1px solid #fc7a00;
	border-radius: 4px;
}
.package__item_header{
	margin: auto;
	margin-bottom: 1rem;
	width: 90%;
	font-size: 1.3rem;
	/* font-weight: 600; */
	text-align: center;
	line-height: 3rem;
	border-bottom: 1px solid #dddddd;
}
.package__item_info{
	margin: auto;
	width: 90%;
}
.package__info_check{
	margin: 0 0 1rem 0;
}
.package__info_uncheck{
	margin: 0 0 1rem 0;
	color: #c3c3c3;
}
.package__info_check:before{
	margin-right: 1rem;
	content: '+';
	color: #fc7a00;
	font-weight: 600;
}
.package__info_uncheck:before{
	margin-right: 1rem;
	content: '-';
	color: #dddddd;
	font-weight: 600;
}
.package__info_uncheck{
	
}
.package__item_price{
	margin: auto;
	margin-top: 1rem;
	width: 90%;
	font-size: 1rem;
	text-align: center;
	line-height: 3rem;
	border-top: 1px solid #dddddd;
}

/*=======-- cases --========*/

.case-header{
  padding-top: 4rem;
}
.case-content{
	display: flex;
  flex-wrap: wrap;
}
.case-content_img{
	padding: 1rem;
	display: flex;
	width: 50%;
	height: 1000px;
	justify-content: center;
}
.case-content_img img{
	width: auto;
  height: 100%;
}
.case-content_desc{
	padding: 1rem 4rem;
	/* display: flex; */
	width: 50%;
}
.case-goback{
	padding: 1rem 4rem;
}
.case-goback a{
	color: #660000;
    border-bottom: 1px dashed #660000;
}

/*=======-- footer --========*/

.footer{
	background-color: #363839;
	color: #dddddd;
	margin: 0;
	margin-top: 30px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
}
.footer .footer_section{
	font-size: 1em;
	
}
.section_header{
	border-bottom: 1px solid #dddddd;
	text-align: center;
}
.hidden{
	display: none;
}
form{
	padding: 20px 20px;
	background-color: #f9f9f9;
	max-width: 50%;
	margin: auto;
	position: relative;
}
form input, textarea{
	outline:none;
	width: 100%;
}
form label{
	font-size: 1em;
	font-style: italic;
}
form input{
	height: 1.8em;
	}
form input, textarea, select{
  border-radius: 4px;
  font-size: 1em; 
  border: 1px solid #A5A5A5;
}
/*form input:focus, textarea:focus{
  box-shadow: inset 1px 1px 3px -1px #f60;
}*/
form button{
	font-size: 1em;
	border:0px solid #ccc; /*цвет границы*/
	border-radius: 4px;
	background:#fc7a00;  /*цвет фона*/
	padding:10px 20px; /*внутренние отступы*/
	/*display:block;*/
	text-align:center; /*выравнивание текста по центру*/
	color:#fff;  /*цвет текста*/
	text-decoration:none;  /*убрать подчёркивание у ссылки*/
	width:auto;  /*ширина кнопки*/
	margin:auto;  /*выравнивание кнопки по центру*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.error {
  border: 1px solid #ff8c00;
  padding: 10px;
  background: #FFDF97;
  text-align: left;
  border-radius: 3px;
}
.ok {
  border: 1px #BCEF89 solid;
  margin-bottom: 15px;
  padding: 10px;
  background: #f5f9fd;
  text-align: center;
  border-radius: 3px;
}
.field_head{
	font-size: 1.2em;
	margin-top: 2em;
	margin-bottom: 1em;
}
.checkbox{
	width: 16px;
	height: 16px;
	margin-right: 10px;
}


.copyright{
	background-color: #363839;
	color: #dddddd;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #4b4c4d;
}

/*===========buttons========*/

.batton{
	margin-top: auto;
    margin-bottom: auto;
}

.batton a{
background:#fc7a00;  /*цвет фона*/
padding:10px 20px; /*внутренние отступы*/
border-radius: 4px;
/*display:block;*/
text-align:center; /*выравнивание текста по центру*/
color:#fff;  /*цвет текста*/
text-decoration:none;  /*убрать подчёркивание у ссылки*/
width:auto;  /*ширина кнопки*/
margin:auto;  /*выравнивание кнопки по центру*/
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.batton a:hover{
-moz-box-shadow: 0 0 6px #000;
-webkit-box-shadow: 0 0 6px #000;
box-shadow:0 0 6px 1px #fff;   
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
color:#910000;  /*цвет текста*/
}
.batton_no_accent{
    text-align: center;
}
.batton_no_accent a{
	border:2px solid #fc7a00;
	background:rgba(255, 255, 255, 0);
	color:#fc7a00;
}
.batton_white a{
	border:2px solid #fff;
	background:rgba(255, 255, 255, 0);
	color:#fff;
}
.batton a:hover{
	box-shadow: none;
}
